

	.contenedor {
		margin-top: 100px;
		min-height: 500px;
	}

	.footer {
		background-color: #D2D2D1;
    	clear: both;
    	position: relative;
    	z-index: 10;
    	height: 70px;
	}

	.footer.visible-xs img {
		margin-top: 10px;
		width: 25px;
		height: 25px;
	}

	.footer.visible-sm img {
		margin-top: 15px;
		width: 40px;
		height: 40px;
	}

	.footer.visible-md img {
		margin-top: 10px;
		width: 50px;
		height: 50px;
	}
